<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>「金ちゃんラーメン」で知られる、徳島市に本社を置く徳島製粉では、徳島ラーメンのカップ麺を日本国内では静岡県以西の地域で発売している。</string>
	<string>いのたに。徳島ラーメンのブレイクのきっかけとなった店。中でもスープが濃い醤油味である。徳島市西大工町に本店がある。</string>
	<string>東大。比較的最近出来たラーメン店。生卵が無料で入れ放題である。徳島市大道に本店がある。
みちのくプロレス所属の新崎人生(徳島出身)が当店で修行した後、宮城県仙台市に「徳島ラーメン人生」をオープンしている。</string>
	<string>ふく利。あっさりとしたスープに、豚バラではなくチャーシューを使ったラーメン。板野郡北島町に本店がある。</string>
	<string>徳島ラーメンは2010年3月8日放送の日本テレビ「SUPER SURPRISE ご当地最新B級グルメベスト50」で第1位となった。</string>
	<string>2009年にはフジテレビ「桑田佳祐の音楽寅さん」で取り上げられた、徳島ラーメンの具材をご飯にかけた徳島丼が有名となった。
</string>
	<string>徳島ラーメンには大きく分けて「茶系」「黄系」「白系」の3系統がある。戦後まもなく白系が誕生し、後に黄系・茶系と登場したといわれている。</string>
	<string>茶系は「黒系」とも呼ばれ、豚骨スープに濃口醤油やたまり醤油で味付けし中細麺を用い、トッピングには豚のバラ肉・ネギ・もやしなどを使い、生卵を乗せるのが特徴である。新横浜ラーメン博物館に出店した「いのたに」がこの茶系だったことから、全国的には単に「徳島ラーメン」と呼んだ場合、概ねこの茶系ラーメンを指す。</string>
	<string>黄系は鶏がらや野菜などを使い薄口醤油を加えた薄い色のスープを用いており、ネギやもやし・チャーシューなどを用いる。
白系は豚骨スープに薄口醤油や白醤油などで味付けした、いわゆるとんこつラーメンに近いものである。</string>
	<string>スープの味は濃く、やや強めの甘味があるのが特徴である。</string>
	<string>徳島ラーメン＝生卵」というイメージが全国的には強いが、生卵を入れるのは主に茶系ラーメンで、地元では生卵を入れずに食べる人が多い。</string>
	<string>徳島ラーメンは基本的に「ご飯のおかず」として食べるものなので、通常のラーメンに比べて量がやや少なめである。</string>
	<string>徳島で豚骨醤油が主流になったひとつの理由として、県内にハム工場（徳島食肉加工場、徳島ハム、後の日本ハム）がありそこで大量の豚骨が出たため、安く簡単に手に入れることができたからと言われている。</string>
	<string>チャーシューではなく、『豚バラ肉』（タレで濃厚な味付けで煮込んだもの）をトッピングしている店が多く存在している。
</string>
	<string>生タマゴを落として食べる習慣もあり、またご飯のおかずとして食べる人も多いので、ほとんどの店で『白ご飯』と『トッピングの生玉子』を注文することができる。</string>
	<string>麺はストレートの中細麺で、短めで柔らかめのものが多い。</string>
	<string>徳島でこの丼が普及した理由のひとつとして徳島の県民性が挙げられる。徳島の人は、ラーメンの麺やスープが器からあふれんばかりに入っている状態（徳島の方言で云うところの“まけまけいっぱい”）を好む傾向にあり、その意味でちょうどよい大きさだったのだ。</string>
	<string>全国的には使われなくなったようだが、徳島だけは違った。ほとんどの製造元で廃盤にしてしまっていたこの型は“徳島用”と呼ばれ“別注扱い”で作られていたほどだ。</string>
	<string>しかし平成に入ってからは、いよいよこの型の製造は難しくなり、今では既製品（一般的なサイズ）を使っているところが多くなっている。
</string>
	<string>「徳島ラーメン」という呼び名は「新横浜ラーメン博物館」が命名したものであり、地元では一般的に“中華そば”や“支那そば” と呼ばれていることが多い。
</string>
	<string>その呼び名が、“徳島ラーメン”であろうと“中華そば”であろうと、そんなことはそれほど重要なことではないのですが（県外の方にとっては特に）、地元徳島では「白・黄・薄茶色系のスープにチャーシュー」というスタイルのものをも“徳島ラーメン”とひとくくりにして呼ぶことに少なからず違和感を感じている人も未だに多いようだ。</string>
	<string>今まで地元徳島の人は、「スープの色の違い、チャーシューと豚バラ肉の存在」は提供する店側の個性、「生タマゴを落とす、ご飯を一緒に食べる」などは食べる側の好み、としてなんの疑問を持つこともなく、自分のお気に入りの中華そば屋でそばをすすっていた。

</string>
	<string>そんな普段食べている中華そばが他県に比べて“変わっている”ことすら知らなかった徳島県民に、それを知らしめるきっかけとなったという意味でもその功績は大きいと言っても過言ではない。

</string>
	<string>戦前の徳島ラーメン。徳島市新町橋通りの屋台
日本人や中国人の「支那そば」と書かれた屋台が、夜中の11～12時頃にラッパ（チャルメラ）を吹きながらやってきていたと、昭和2年生まれの方が証言されている。
</string>
	<string>麺は、やや黄色。（今日ほど黄色が強くはない。）スープは、やや黄色いが透明。具はネギ・シナチク・塩味がついた豚の乾燥肉。胡椒をかけてから客に出していたそうである。
</string>
	<string>なお、1937年（昭和12）7月に起こった盧溝橋事件以降の日中戦争の激化で中国人の屋台は姿を消してゆき、太平洋戦争（1941年（昭和16）12月開戦）の開始以降には日本人の屋台も見えなくなってしまったという。
1936年（昭和11）ころの「シナそば」の値段は15銭。</string>
</array>
</plist>
