<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>鳴門の渦潮（なるとのうずしお）は、徳島県鳴門市と兵庫県南あわじ市の間にある鳴門海峡で発生する渦潮である。</string>
	<string>鳴門海峡は、本州と四国の間にある瀬戸内海と太平洋とを結ぶ海峡の一つで、幅が約1.3km。潮汐により1日に2回、大量の海水が瀬戸内海に流れ込み、また同様に1日に2回瀬戸内海から流れ出す。</string>
	<string>瀬戸内海と太平洋の水位差は最高で1.5mにも及ぶ。海峡の幅が狭いことに加え、海底の複雑な地形も影響し、潮流は13～15km/hの速度で流れる。大潮の時には20km/hに達することもある。この潮流の速度は日本で一番速く、「世界三大潮流」にも数えられることもある</string>
	<string>この早い潮流と、海峡両岸に近い穏やかな流れの境目において、渦が発生する[4]。
大潮の際には渦の直径は最大で30mに達するといわれ[、渦の大きさは世界でも最大規模といわれる</string>
	<string>鳴門市孫崎と淡路島との間の鳴門海峡では、潮の干満によって渦潮が発生します。春と秋の大潮時に最大となり、潮流時速20km、最大直径20mにも及ぶものがあります。百雷のごとくすさまじい轟音を立てて渦潮が交錯しながら流れていくさまは壮観です。</string>
	<string>満潮と干潮は1日2回ずつあり、鳴門海峡ではこの満潮時と干潮時に渦潮が発生します。満潮時と干潮時の前後約１時間半が渦潮の見ごろといわれています。</string>
	<string>「鳴門海峡」は、イタリア半島とシシリー島間の「メッシーナ海峡」、北アメリカ西岸とバンクーバー島東岸との間「セイモア海峡」と並んで“世界三大潮流”と呼ばれています。</string>
	<string>月の引力によって発生した海水面の高まりは、月の動きを追うように東から西へ向かって移動します。その満潮の波は、紀伊水道や豊後水道へと流れ出て北へと進みます。豊後水道に入った満潮の波は、瀬戸内海を西側から水位を上げて播磨灘に向かいます。紀伊水道に入った満潮の波は、二手に分かれ鳴門海峡と大阪湾方面に向かいます。</string>
	<string>その波はさらに明石海峡を抜けて播磨灘に入り、豊後水道を経てきた満潮の波と合流します。紀伊水道から入ってきた満潮の波が播磨灘に入るまで、約6時間かかります。</string>
	<string>この時間が経過する間に紀伊水道側は干潮の波になって、鳴門海峡をはさんだ播磨灘と紀伊水道との間で海水面に最大約1.5mにもなる水位差が生じ、海面の高い満潮側から低い干潮側へと激しい勢いで海水が流れ込むことで、中央部を流れる速い流れと、その両側の遅い流れとの速度差で渦が発生します。</string>
	<string>大鳴門橋の真下はＶ字型に深く落ち込み、最深部は約90mにも達します。鳴門海峡の南側（太平洋側）には水深140m、北側（瀬戸内海側）には200mの海釜(かいふ)と呼ばれる深いくぼみがあり、この独特の海底の地形が潮の干満にともなう海水の流れと合わさり、鳴門の渦を発生させます。 </string>
	<string>その大きさは直径最大20mにもおよび、世界でも最大規模と言われ、この激しい潮流から発生する轟音から鳴門（鳴る瀬戸）の名が生まれたと言われています。</string>
	<string>1ヵ月に２回、満月と新月には大潮がやってきます。大潮とは月と太陽の引力が重なり、満ち潮と引き潮の水位差が大きくなり、海水の流れも速くなるのです。鳴門海峡の場合、春と秋の大潮の頃には潮の流れが時速20kmにもなり、渦潮も大きなものが観られます。特に3月下旬から4月下旬は1年で最も良い渦潮観潮の時季と言われています。</string>
	<string>渦潮を見るには、海上45メートルのガラス床から渦潮を見下ろすことができる「徳島県立渦の道」や、逆巻く渦の飛沫が衣服を濡らすほど間近に迫る「観潮船」があります。</string>
	<string>また、日の光を浴びて鏡面のように穏やかなウチノ海や、大小様々な船舶が行き来し海岸線のすぐ傍まで山並みが迫る瀬戸内海を望みながら鳴門海峡を一望できる「鳴門スカイライン」、「エスカヒル鳴門」、「徳島県立大鳴門橋架橋記念館エディ」をはじめ、甘味処や土産物が軒を連ねる「千畳敷」、「お茶園展望台」等で一息つきながら遠方の渦潮を楽しむのも一興です。</string>
	<string>渦の道では、本州四国連絡橋の大鳴門橋の橋桁スペースを利用して、450mの遊歩道と渦潮展望室を設置した観潮施設。
渦潮と大鳴門橋の体験見学ができます。</string>
	<string>鳴門観光汽船。
鳴門観光汽船。
大型観潮船「わんだーなると」は、旅客定員400名の観潮船で､ゆったりと渦潮をご覧いただけます｡水中観潮船「アクアエディ」は、水面下1mのところまで下がり、海中の渦の様子が間近でご覧になれます</string>
	<string>うずしお観潮船。
渦の間近まで接近できる新型観潮船「うずしお」就航中。渦潮の飛沫がかかるほど、ぐっと接近の体感クルージングが楽しめます。ぜひ、雄大な鳴門の渦潮をご自身の目でご覧下さい。</string>
	<string>大鳴門橋架橋記念館エディ
大鳴門橋架橋記念館エディ。
館内では渦と橋をテーマに、鳴門の渦潮のメカニズムや大鳴門橋の構造などを、映像や疑似体験装置などを駆使し様々な角度から紹介しています。</string>
	<string>エスカヒル鳴門
エスカヒル鳴門。
国立公園鳴門の第一駐車場前にある渦潮・大鳴門橋展望施設です。東洋一の高低差34m、全長68mを誇る観光用エスカレーターで鳴門公園を一望できる展望台です。</string>
	<string>鳴門スカイライン。
渦潮で知られた鳴門海峡、波静かな瀬戸内海，風光のよいウチノ海、堀越及び小鳴門海峡の二つの瀬戸を渡り途中七つの橋があり、スカイライン中にゴルフ場もあり、快適なドライブウェイです。延長8.1km</string>
	<string>道の駅うずしおは大鳴門橋に最接近！世界一のうずしおを眼下に！淡路島に来れられる時のホッと一息休憩所。</string>
	<string>3月から4月にかけての大潮のころには、潮の流れが時速20キロ以上にもなり、直径20メートル以上の大きな渦潮が見られます。この時期に収穫される「鳴門わかめ」は、激しい潮流にもまれて育ち、色・風味・歯ごたえ、どれをとっても一級品です。</string>
	<string>また、「鳴門ダイ（鯛）」も激しい潮の流れで身がしまり、美味といわれています。</string>
	<string>海から「渦潮」を観るために、観潮船に乗ってみるのもお薦めです。所要時間は約50分。
　「渦潮」の迫力、潮流の音や、落差、大きさを、すぐ近くで体感できます。</string>
</array>
</plist>
