<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>阿波おどり（あわおどり）は徳島県（旧・阿波国）を発祥とする盆踊りである。日本三大盆踊りのひとつ。</string>
	<string>約400年の歴史があり、夏季になると徳島県内各地の市町村で開催される。なかでも徳島市阿波おどりは国内最大規模で最も有名であり、四国三大祭りに数えられる。近年では全国各地で行われるようになってきている。</string>
	<string>三味線、太鼓、鉦鼓、篠笛などの2拍子の伴奏にのって踊り手の集団（「連」）が踊り歩く。「えらいやっちゃ、えらいやっちゃ、ヨイヨイヨイヨイ、踊る阿呆に見る阿呆、同じ阿呆なら踊らな損々…」と唄われるよしこので知られる。</string>
	<string>しかし、よしこのは大手の有名連以外はあまり使われず、主に「ヤットサーヤットサー」という掛け声のほうが多用されている。</string>
	<string>企業連などではこのほか商品名や会社名が入った独自のかけ声が使われたり、「1かけ2かけ3かけて、しかけた踊りはやめられぬ。5かけ6かけ7かけて、やっぱり踊りはやめられない」と言ったものも使われている。</string>
	<string>また、「ワッショイ踊り」のような邪道踊りでは「ソレソレソレ……」等と言った単にやかましいだけやバカ騒ぎをするためだけのものも存在している。</string>
	<string>徳島県内の学校では体育祭や運動会などで「阿波おどり」を演目として採用している学校も多数あり、授業で阿波おどりを経験した地元住民も多数いる。地域住民の代表的な祭りである。</string>
	<string>阿波の国「徳島」が本場であり、「徳島市阿波おどり」（徳島県徳島市）で、毎年130万人以上の人出がある。県内の他の市町村各地でも開催されている。</string>
	<string>歴史的には本場徳島は江戸初期からの通説もあり、その他県外では、徳島県人会などが中心となり全国各地で踊られていた</string>
	<string>また、亜流ではあるが、徳島県及び県人会などの指導により「東京高円寺阿波おどり」（東京都杉並区）の50数年をはじめ、中目黒、三鷹、下北沢、初台、神楽坂などが40年超、大塚、都立家政、中村橋、糀谷、経堂、小金井、神奈川大和、埼玉狭山ヶ丘、南越谷などが30年超の歴史を持っている。</string>
	<string>現在は徳島（例年8月中旬）以外の各地（特に関東地方）、高円寺（例年8月最終週）のほか、夏のイベントとして8月はほぼ毎日のように全国のどこかで阿波おどりが催されており、徳島の阿波おどり連がその指導に当たっている。</string>
	<string>2015年5月、フランス・パリで大規模な阿波おどりの祭典Awa Odori Paris 2015 が開催される。主催は日本の制作会社、東京ストーリー。数百人の踊り手と鳴り物を率いて、阿波おどりの迫力と真の魅力をパリで再現し、世界の人々に向けて日本の祭り文化を発信する。日仏の企業および政府機関からの協賛・後援を受ける見込みである。
</string>
	<string>精霊踊りや念仏踊りが原形であるといわれるが、起源は明らかになっていない。徳島藩が成立して以後、盛んに踊られるようになったとされる（徳島市観光協会の説明より）</string>
	<string>徳島城が竣工した際、当時の阿波守・蜂須賀家政が城下に「城の完成祝いとして、好きに踊れ」という触れを出したことが発祥という説もある。</string>
	<string>江戸時代には、一揆につながるとの理由で阿波おどりが禁止されていた時期もあった。その令を犯し、自宅で阿波おどりを行った家老がお家断絶になったという。また戦時中にも一時阿波おどりは禁止された。</string>
	<string>阿波おどりという名称は徳島県内の各地で行われてきた盂蘭盆の踊りの通称であり、昭和初期からそう呼ばれるようになった。</string>
	<string>この名称は日本画家・林鼓浪が徳島商工会議所（当時は商業会議所）に提案したものとされる。</string>
	<string>徳島市や高円寺の阿波おどりではポスターや看板等において専ら「阿波おどり」と表記される。</string>
	<string>ちなみに、名称から徳島県阿波市が阿波おどりの本場と思われることがあるが、阿波市でも阿波おどりは行われるものの特別なことは特にない(そもそも阿波市の存在自体が近年まで無かった。市の歴史はまだ浅く、2005年の市町村合併で誕生した新しい市である)。</string>
	<string>阿波おどりでは一つの踊りのグループの事を「連（れん）」または「輦（れん）」という。</string>
	<string>徳島県には有名連と呼ばれる連が多数あり、主に各協会などに所属している連が多い。もちろんいずれの協会にも属していない連もある。</string>
	<string>大抵の徳島県民には個人個人に贔屓の連があり、「あっこの連がええ」とか「ほらやっぱりここの連やろ」といった具合に話題になることもある。</string>
	<string>こうした有名連以外にも踊りが好きな者同士が集まって結成した連、企業が企業名を売り込む目的で結成した企業連、大学のサークルなどで結成した大学連、気の合う仲間で結成した連、商店街で結成した連等、徳島県内には大小さまざまの数多くの連が存在する。</string>
	<string>殆どの連は先頭に連名を書いた巨大な提灯を掲げて浴衣などに名前を入れて踊っている</string>
	<string>また徳島県外には徳島県出身者が主体となって結成した連もあり、関西を本拠地とする阿波おどりの連の中には徳島県出身者が始めたものが多い。</string>
	<string>男踊り
半天（法被）を着て踊る半天踊りと、男物の浴衣をしりからげに着て踊る浴衣踊りがあり、いずれもたびを履いて踊る。</string>
	<string>女踊り
女物の浴衣に網笠を深く被り、草履ではなく下駄を履くのが特徴。
艶っぽく、上品に踊るのが良いとされる。
一般の浴衣と異なりじゅばん、裾除け、手甲を付け黒繻子の半幅帯をお太鼓のように結ぶ場合が多い。
</string>
	<string>青少年は男踊り・女踊りのいずれをも踊っているが、どちらかと言えば男踊り（半天踊り）の方が多い。少女の女踊りは大人の女踊りの</string>
	<string>女役は厚化粧する場合が多い。</string>
	<string>踊りの派生型として一人が凧を操る役、そしてもう一人がやっこ凧として操られる様を表現したアクロバティックな「やっこ踊り」があるが、淡路島には同踊りの原型がある。</string>
	<string>足袋裸足の状態で踊る際、足底がゴム引き加工された足袋を着用する事がある。</string>
	<string>阿波おどりに用いられる楽器は「鳴り物」と総称される。鳴り物は、踊り子の引き立て役として阿波おどりに欠かせない存在である。演舞場を通り抜ける際は、踊り子の後方にポジションをとる。</string>
	<string>基本的には以下の6つの楽器とその演奏者で構成される。近年の大学連などの少数連では鉦と太鼓が中心となっており、難易度の高い笛や三味線のようなメロディ部分が存在しないことも多い。また、尺八のような独自の楽器を取り入れる連も少なからず存在する。</string>
	<string>阿波おどりは2拍子で、テンポは、早い連、遅い連と様々である。これらが連の個性を演出する重要な要素となっている。</string>
</array>
</plist>
