<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>このアプリではプロの写真ではなく、一般の方々が撮影した写真をあえて使用しています。</string>
	<string>そのことにより、プロの方の写真とはまた違うリアルな魅力をお伝えできるかと考えました。</string>
	<string>このアプリではInstagramから写真を借りてきています。</string>
	<string>このハテナアイコンの写真たちは＃徳島とタグ付けされた写真たちです。</string>
	<string>Instagaramには日々、たくさんの徳島にまつわる写真もアップされ続けています。</string>
	<string>ぜひリアルな徳島の姿をスライドショーを眺めながら感じてみてください。</string>
	<string>徳島は、良い街です。</string>
</array>
</plist>
