<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>かずら橋（かずらばし）は、サルナシ（しらくちかずら）などの葛類を使って架けられた原始的な吊り橋。徳島県三好市西祖谷山村善徳にあるものが著名である。</string>
	<string>さらにその奥地、同市東祖谷菅生にも2橋架けられている。また福井県今立郡池田町にもあり、いずれも人専用の橋である。</string>
	<string>祖谷のかずら橋の場合、古文書によると、かって7ないし13の橋が存在したとされる。最古のものは、1646年（正保3年）の「阿波国図」にかずら橋が7つ存在したと記録されている。また1657年（明暦3年）「阿波国海陸度之の帳の写」の祖谷紀行には13のかずら橋があったとされる。</string>
	<string>起源はその昔、弘法大師が祖谷に来たとき困っている村民のために架けたとか、あるいは平家の落人がこの地に潜み、追手が迫ってもすぐ切り落とせるように葛を使って架設したとの伝説もあるが定かではない。</string>
	<string>現在の西祖谷山村善徳のかずら橋は長さ45m、幅2m、谷からの高さ14mで日本三奇橋の一つであり、重要有形民俗文化財である。</string>
	<string>大正時代に一度、ワイヤーを使った吊り橋に架け替えられたが、1928年（昭和3年）、地域振興目的でかずら橋が復活された。ただし安全のためワイヤーは使われており、かずらはワイヤーを包み込む装飾とも言える。</string>
	<string>1970年に国鉄のディスカバー・ジャパンキャンペーンで登場したことで知名度が飛躍的に向上。</string>
	<string>現在でも年間35万人の観光客が通るため、老朽化が早い事から3年に一度架け替えが行われており、約2週間～1ヶ月を要する。材料である太いかずらの調達は年々困難になってきており細いかずらを撚り合わせて使用しているという。</string>
	<string>東祖谷菅生のものは奥祖谷二重かずら橋と呼ばれ、男橋と呼ばれる長さ42mのものと女橋20mが並んで架かっている。</string>
	<string>いずれも人ひとり渡っても揺れ、床面も「さな木」と呼ばれる丸太や割木を荒く編んだだけであり、すき間から川面が望める。そういったこの橋の特徴をよく表す歌として「祖谷の粉ひき節」が知られている。</string>
	<string>2012年10月、徳島県のかずら橋がトリップアドバイザーの企画「バゲットリスト」の「世界の徒歩吊り橋10選」に選ばれた。</string>
	<string>緑の葉陰から浮かび出て、両岸の老木に重みを託し、そよ風にゆらゆらゆれるかずら橋。
祖谷川の清流にその影を映す悠然とした姿は、四季を通して自然と調和した美しい景観を生み出します。</string>
	<string>冬場の厳寒な山野で採取した自生の「シラクチカズラ」を編み連ねて創られるかずら橋は、当時の人々には大切な生活路として祖谷川各所に架けられていたそうですが、今では西祖谷山村の「祖谷のかずら橋」 と東祖谷の「奥祖谷二重かずら橋」を残すのみとなっています。</string>
	<string>かずら橋の由来は、祖谷に巡行された弘法大師が困っている村人の為に作ったという説や、追っ手から逃れる平家の落人が楽に切り落とせるようシラクチカズラで作ったという説等諸説が残っています。
村人に護られてきたかずら橋は、訪れた人々に遠い昔の祖先の暮らしを感じさせてくれます。</string>
	<string>かずら橋ライトアップ
毎晩19:00から21:00の間、かずら橋をライトアップします。闇夜の中に照らされた光景はとても幻想的です。</string>
	<string>三好市西祖谷山村にある「祖谷のかずら橋」は、日本三奇橋のひとつとして知られています。重さ約5トンにもなるシラクチカズラで作られおり、3年毎に架け替えが行なわれます。 </string>
	<string>現在は周辺が整備されており、大型バスやマイカーでも訪れることのできるスポットになっていますが、その昔は断崖を通らなければ辿り着けない「秘境」でした。</string>
	<string>一歩踏み出すたびに軋んでユラユラと揺れる橋はスリル満点！
長さ45m・幅2m・水面上14m。 （国指定重要有形民俗文化財）
住所：三好市西祖谷山村善徳162-2</string>
	<string>かずら橋は周囲を木々に囲まれ、眼下には祖谷川の渓流を見下ろすロケーションです。春は藤が咲き、夏は新緑、秋は紅葉に染まり、冬は見事な雪景色と化します。</string>
	<string>藤の花咲く春のかずら橋
藤の花咲く春のかずら橋

橋を覆うかのように群生した見事な山藤は、かずら橋の重厚さに淡い紫の華やぎをあたえてくれます。</string>
	<string>緑まばゆい夏のかずら橋
緑まばゆい夏のかずら橋

輝く新緑がまぶしい夏のかずら橋は、爽やかな涼しさが心地よい森林浴気分を味わえます。</string>
	<string>紅葉につつまれる秋のかずら橋
紅葉につつまれる秋のかずら橋

赤や黄色に色づいた木々に囲まれる秋のかずら橋は、しっとりとした風情で趣を感じます。</string>
	<string>しんしんと雪積もる冬のかずら橋
しんしんと雪積もる冬のかずら橋

静かに降り積もる雪に覆われた冬のかずら橋は、幻想的な雰囲気が漂います。</string>
	<string>「祖谷のかずら橋」から車で約1時間、山深い谷合いに佇む「奥祖谷二重かずら橋」は、男橋と女橋の二本の橋の総称です。
約800年前、源平の戦いに敗れた平家一族が、剣山・平家の馬場での訓練に通うために架設されたと言われています。
男橋は昔の生活道にかけられた橋を復元したもので、女橋は男橋よりも小さく、上流側にかけられています。</string>
	<string>周囲には原生林が広がり、眼下の祖谷川は源流に近いため水の透明度が高く、夏でも冷たく澄み切っています。
山・川・橋の全体が調和され、秘境の雰囲気が漂う美しい景観は必見です。</string>
	<string>奥祖谷二重かずら橋のすぐ側に架かる「野猿」は、人力で渓谷を渡るロープウェイ。籠に乗り、手でロープをたぐり寄せながら進み、渓谷を渡る、昔ながらの移動手段です。訪れた際は、ぜひ体験してみては。</string>
	<string>懐かしいご当地の味
懐かしいご当地の味
かずら橋の周辺では、祖谷地方につたわる郷土料理「でこまわし」や「鮎の塩焼き」が売られています。
「でこまわし」は里いもやこんにゃく、豆腐などを串に刺しゆず味噌を塗って焼く“田楽”です。阿波人形浄瑠璃の木偶（でこ）人形に似た形で、串をくるくる回しながら食べることからこの名が付けられました。</string>
	<string>避暑にもぴったり！
避暑にもぴったり！
かずら橋・奥祖谷二重かずら橋の下を流れる祖谷川は、夏場の水遊びにもぴったりの美しい清流です。
奥祖谷二重かずら橋の脇には、小さな滝もあり、清々しい空気が流れています。</string>
</array>
</plist>
