<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>「なると金時」は、徳島県農産物を代表するトップブランドのひとつです。</string>
	<string>徳島県の温暖な気候と、吉野川の恵みがもたらした良質の砂地畑で育てられています。</string>
	<string>ずっしりとした太り具合で形も良く、鮮やかな紅色の皮を持ち、ほくほくとした食感と、上品な甘みが人気。</string>
	<string>ビタミンCやビタミンB1、食物繊維が豊富な食材としても全国的に知られています。</string>
	<string>定番の焼き芋はもちろん、天ぷらにしてもおいしく、和菓子や洋菓子の材料にも最適。
子供から大人まで幅広く支持されています。</string>
	<string>ふかして良し、焼いて良し、料理の素材に使って良し。
他の産地には真似できない甘さと、ほっこりとした食感。
全国で数多く栽培されているサツマイモの中でも最高傑作と呼び声が高い「なると金時」です。</string>
	<string>「なると金時」の主成分は炭水化物ですが、米や小麦に比べてカロリーは三分の一と少なく、カリウムを多く含み、他のイモ類と比べても繊維質やビタミンＣ、カロテンが多いことや、そのおいしさから人気があります。
カリウムは、ナトリウムの排出を促す働きがあります。</string>
	<string>鳴門金時（なるときんとき, Narutokintoki）は、鳴門海峡、旧吉野川、吉野川などの砂地で作られるさつまいもである。四国・徳島県の鳴門市で主に栽培されている。生産される鳴門金時のほとんどが関西圏で消費されている。</string>
	<string>「なると金時」の表記で平成19年4月に地域団体商標が認可されており、徳島県内の指定地域で生産されたものしか「なると金時」を名乗ることはできない。</string>
	<string>鳴門市里浦町里浦にあるJA里浦が販売する、鳴門金時には「里むすめ」というブランド名がついている。 「里むすめ」はJA里浦の厳しい選別を経た鳴門金時であるため、市場関係者からの評価は高く、里むすめでない鳴門金時に比べ1から2割高い値段で取引されることが多い。</string>
	<string>徳島県北東部の砂地地域が主な栽培地域。鳴門市（大津町、里浦町）・徳島市（川内町）・板野郡（松茂町・北島町）が指定地域となっており、栽培が盛んである。</string>
	<string>食用の他に、芋焼酎、焼き芋焼酎の原料としても用いられている。</string>
	<string>1990年代から、TBSの世界ウルルン滞在記の企画で、日本の農家からパプアニューギニアの先住民に鳴門金時が持ち込まれた。今では現地での鳴門金時の生産が定着しており、現地人は鳴門金時を「キントキ」と呼んで人気の野菜となっている。</string>
	<string>なると金時は、高系十四号の改良種として誕生しました。鳴門市大毛島（おおげじま）が発祥と言われています。</string>
	<string>中身が黄金色をしている芋を金時(きんとき)芋と呼んでいたことから、「なると金時」と名づけられました。</string>
	<string>見た目も鮮やかな黄金色の鳴門金時は、栗のようにホクホクとした食感と、糖度が高めなのが特徴で、菓子の材料などでも重宝されています。</string>
	<string>定番の焼き芋はもちろん、蒸して良し、ゆでて良し。天ぷらや大学いも、スウィートポテトにしても美味しくいただけます。
</string>
	<string>なると金時は、主に徳島県の北部、鳴門海峡に近く砂地のある地域で栽培されています。食物繊、ビタミン　がたっぷりで、美容と健康に最適の食物といわれています。</string>
	<string>徳島県の温暖で降雨量が少ない気候と、海のミネラルをたっぷりと含んだ砂地で育てられているのが味の秘密で、好立地から生まれた鳴門金時は、さつまいものトップブランドとして人気があります。</string>
	<string>なると金時には、地域によって独自のブランド名を冠したものがあり、鳴門市里浦町では「里むすめ」川内町では「甘姫(あまひめ)」松茂町では「松茂美人(まつしげびじん)」というブランドの鳴門金時を出荷しています。</string>
	<string>なると金時の中で産地のブランド力を高め、日々競い合っています。</string>
	<string>保存の適温は十度～十七度ぐらいで、風通しの良い冷暗所で保存するのがベストです。空気を通さない密封状態は厳禁です。</string>
	<string>鳴門金時の栽培は、徳島県の温暖で降雨量が少ない気候と、海のミネラルをたっぷりと含んだ砂地で作られるということが条件ですが、地域によって微妙な砂質加減、細かく言えば生産者によっても大きく変わってきます。</string>
	<string>さつまいもの味は、畑の状態、砂、水分、肥料、ミネラル、日照時間、植え付けから探り堀りまでの期間の長さ 、貯蔵の日数と貯蔵の仕方、それと品種などで決まります。また、その年の季節などの育成条件にも多少左右されるようです。</string>
	<string>７月下旬頃から始まる、探り堀りで収穫するなると金時は、水分がやや多めですが、新ものとして昔からお中元などの贈答品に人気があります。</string>
	<string>収穫最盛期は8～9月頃で、9月以降は元気ななると金時が市場にたくさん出てきます。なると金時は、収穫してから水分が抜けてだんだんと甘味が増してくるので、秋頃～冬にかけてが食べ頃と言われています。また、お歳暮シーズンにかけて最も需要が高くなってきます。</string>
</array>
</plist>
