<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>スダチ（酢橘、学名:Citrus sudachi）はミカン科の常緑低木ないし中高木。徳島県原産の果物で、カボスやユコウと同じ香酸柑橘類。名称の由来は食酢として使っていたことにちなんで、「酢の橘」から酢橘（すたちばな）と名付けていたが、現代の一般的な呼称はスダチである。</string>
	<string>果皮が青い未熟果のうちに収穫し出荷するが、熟すとミカンと同様に黄色くなる。</string>
	<string>旬は8月～10月で露地栽培の果実が出荷され、最も香りも味わいも高いものとなっている</string>
	<string>冬の11月～2月の出荷品は露地栽培したものを冷蔵して販売し、酸味は比較的穏やかとなり、やわらかな味が楽しめる</string>
	<string>現在の主な産地は徳島県神山町や佐那河内村、阿南市である。日本における収穫量は2005年が4,469 トン、2010年が5,882 トンであり、その98%が徳島県で生産されている</string>
	<string>スダチは徳島県を代表する特産物であり、スダチの花は1974年に徳島県の県花に指定されている。1993年にはスダチをモチーフとした「すだちくん」という徳島県のイメージキャラクターが誕生した。</string>
	<string>外皮が青、又は黄色の果実を切り分け、鍋料理の具やサンマなどの焼き魚、魚介類の刺身、あるいは焼き松茸などを食べる直前に、料理に果汁をかけるために添えられる</string>
	<string>果汁は食用酢としても用いられ、通常の酢の代りに酢の物の材料としたりする。</string>
	<string>果汁以外では、青い果実の外皮部分を薄く切ったり、薬味おろしでおろすなどして、薬味として利用される。</string>
	<string>スダチとカボスではスダチの方が小さい。</string>
	<string>徳島県では比較的安価で果実を含めジュースやお酒などとしてどこにでも売られている。</string>
	<string>レモンやライムの果汁に豊富なエリオシトリンは、スダチ汁にも同等程度含まれるが、ゆず汁やカボス汁には欠ける成分である。またネオエリオシトリン（ダイダイやベルガモットに豊富）も、スダチの果皮や果汁に検出される</string>
	<string>エリオシトリンは、脂質過酸化にたいする抗酸化作用が発表されており、ネオエリオシトリンと共にアレルギーや動脈硬化に関与するリポキシゲナーゼの形成を阻害するとされる</string>
	<string>ナリルチンは、花粉症に効き目があるとされる和歌山県の特産かんきつ類ジャバラの有効成分とされ、ジャバラ汁にはユズ汁の6倍の濃度があるとされるが、スダチ汁にもユズ汁の3倍との結果がある</string>
	<string>すだちはカルシウム吸収の促進効果が研究されている</string>
	<string>2006年、徳島大学の研究チームが、スダチの搾りかすに血糖値の上昇を抑える効果があると発表した。</string>
	<string>同チームと農協の共同研究で、スダチの搾りかすの成分に糖尿病治療の効果がある可能性が判明し、ラットに対する実験で、慢性糖尿病の状態にしたラット7匹に対し、1年間スダチの搾りかすの粉末を与えたところ、6匹に改善の効果があったことが分かった</string>
	<string>カボスと混同されることがあるが、カボスは大分県の特産で、大きさが全く違う。スダチは30 - 40グラム程度、カボスは100 - 150グラム程度である。</string>
	<string>ヨーグルト に スダチ（果汁） そして 蜂蜜 をかけていただきます！
とても意外な、スダチのおかげで引き締まり、あっさり・さっぱりした　夏によく合うデザートに。</string>
	<string>美味しいポン酢は数あれど、本場徳島のスダチを使うのが一番手っ取り早くて最高の味が楽しめます。 スダチは、絞って果汁を醤油と合わせるだけで　その日使いたい分だけの新鮮で美味しいポン酢として味わうことが出来ちゃうのです。</string>
	<string>すだちくんは、徳島県のマスコットである。1993年に開催された東四国国体において初めて登場した。第1回ゆるキャラ大賞・山田五郎賞（審査員特別賞）受賞。</string>
	<string>すだちくんは東四国国体（1993年、徳島県・香川県で開催）の徳島県側のイメージキャラクターとして公募され、1990年1月に採用された。</string>
	<string>すだちくんは2002年11月23日、東京ドームシティアトラクションズにて開催されたみうらじゅん主催の「ゆるキャラショー」に登場した。会場には約1,700人が詰めかけ、その場で行われた人気投票の順位で、25体中3位。上位10位については下表の通りである。</string>
	<string>よく水洗いした「すだち」を皮のまま擦り、つけ汁に加えたり、わさびに混ぜても風味が出ておいしくいただけます。
</string>
	<string>「すだち」はクエン酸が多く含まれています。クエン酸は、エネルギー代謝において中心的な働きをしていますので、疲労回復を助けます。
また、近年の研究において、「すだち」の「しぼりかす」から作った「スダチパウダー」に血糖値上昇抑制効果があることがわかり、サプリメントとしても注目されています。
</string>
</array>
</plist>
