<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>剣山（つるぎさん）は、四国に位置する標高1,955mの山で、近畿以西の西日本および四国第二の高峰であり、徳島県の最高峰である。</string>
	<string>徳島県三好市東祖谷、美馬市木屋平、那賀郡那賀町木沢の間に位置する。日本百名山の一つ。別名太郎笈（たろうぎゅう）と呼ばれ、南西側の次郎笈と対峙する。</string>
	<string>一帯は剣山国定公園に指定されている。山頂付近の「剣山御神水」は環境省選定名水百選- 名水百選 - 環境省に選定されている。また山麓には林野庁選定水源の森百選の「剣山水源の森」。剣山山系は徳島県観光協会・徳島新聞社選定とくしま88景にも選定されている。</string>
	<string>冬期を除き登山口の見ノ越駅（標高1420m）から登山道中央付近の西島駅（標高1750m）までの全長830mを15分で結ぶ登山リフトが運行されている。そのため、日本百名山の中でも、山頂直下までロープウェイが通じている筑波山や、山頂付近までドライブウェイが通じている伊吹山や大台ヶ原山と並び、最も登りやすい山のひとつである。</string>
	<string>剣山山頂からの眺めは非常に素晴らしく、高原のように広いため、シーズンを通して登山客が多い。</string>
	<string>山頂は「平家の馬場」と呼ばれ、ミヤマクマザサを中心とする平坦な草原となっており独特の風景を作っているが、平坦であるために登山者に踏み荒らされ裸地化が著しかった。そのため1974年にはロープで登山道以外を立ち入り禁止にする措置を執った。</string>
	<string>1993年からは木道を設置する工事が進められ、2004年に山頂三角点周辺の登山道が木道化したことにより、「平家の馬場」の登山道は、ほぼ全てが木道になった。山頂には一等三角点「剣山」1954.65mが設置されている。</string>
	<string>修験道の山としても古くから知られ、山頂近くには「行場」と呼ばれる修行用の難所がある。信仰の山で、剣神社、大剣神社、龍光寺、円福寺などがある。</string>
	<string>多くの花が咲くことでも知られているが、宮尾登美子の「天涯の花」の影響で、近年はキレンゲショウマの人気が高まっている。</string>
	<string>標高が高いため、山頂近辺には温帯上部の針葉樹林の要素が見られる。山頂付近にはコメツガ、ウラジロモミのほか、固有種のシコクシラベが生育しており、一部は林野庁により鎗戸林木遺伝資源保存林に指定されている。</string>
	<string>環境省レッドリストにより「絶滅のおそれのある地域個体群」に評価されているツキノワグマの四国山地個体群が分布している。これらのことより、国指定剣山山系鳥獣保護区（大規模生息地）に指定されている（面積10,139ha、うち特別保護地区1,189ha）。</string>
	<string>山名の由来
安徳天皇ゆかりの剣が由来であるとされるが、頂上直下にある大剣神社の剣岩が由来とする説もある。ただし、この大剣を深田久弥は厖大な山容の一点景にすぎないと述べている。</string>
	<string>「つるぎさん」が神社の名称等、歴史的に見ても正しいのだが、北アルプスの白馬岳（「しろうまだけ」が正しいが、「はくば」と読まれることが多く、地元自治体の名前も地元の駅名も山小屋名も「はくば」が正式である。）と同様に音読みの「けんざん」と呼ぶ人が、地元徳島県の人を中心に多く、呼び名についての論争があった</string>
	<string>ただし、徳島県は1963年に読みを「つるぎさん」として統一することを決めており、剣山の近隣自治体の名前は「つるぎ町」であるなど、公式には「つるぎ」で統一されている。</string>
	<string>かつて剣山山頂には富士山頂に次ぐ、日本で2番目に高い標高にある測候所があった。1943年に設置され、1991年に自動化され無人となり、1994年に名称が剣山観測所に変更された。高層気象観測の技術革新により、2001年に廃止されたが、建物や屋外の観測機器の多くは今でも撤去されていない。
</string>
	<string>剣山御神水
山頂部は石灰岩が風化した浸水性のある岩石で、積雪や雨水が帯水され、少しずつ湧水している。 祖谷川の源流であり、水量は少ないが、常に湧き出ている。 その名のとおり剣神社の御神水や、登山者の喉を潤す貴重な水である。</string>
	<string>登山口からつるぎ町一宇に約5km下った位置に剣山スキー場があり、自然雪のある休日に限ってゲレンデが開放されている。規模は四国最大。 日本最長の未舗装道として有名な剣山スーパー林道が近くにある。</string>
	<string>標高（1,955m）神秘の雲海に、紀州や瀬戸内海、足摺岬までも見渡せる見事な眺望を誇る四国の尾根。安徳天皇の剣を山中に隠し</string>
	<string>剣山（つるぎさん）は、四国に位置する標高1,955mの山で、近畿以西の西日本および四国第二の高峰であり、徳島県の最高峰である。徳島県三好市東祖谷、美馬市木屋平、那賀郡那賀町木沢の間に位置する。</string>
	<string>西日本２位の高峰です。四国では、石鎚山とともに１００名山に名を連ねており、多くの登山家が訪れます。登山口の見の越から登山リフトがあり、無理なく登山が楽しめるのも魅力の一つです。登山リフト：４月末～１１月まで運行。</string>
	<string>タムシバは４月に見れる花です。剣山は、４月に入っても雪が積もることがありますが、白い雪とタムシバの花は幻想的です。</string>
	<string>夫婦池に降りてくるシカの群れ。剣山周辺には、野生のシカがたくさん住んでいます。</string>
	<string>ラフォーレつるぎ山の目の前にある池が「夫婦池」です。写真は、雄池（オンイケ）とよばれ、国道を挟んだ下手側に雌池（メンイケ）があります。早朝の鳥のさえずりは、すばらしいものがあります。冬には、２０ｃｍほどの氷に覆われます。
</string>
</array>
</plist>
